/* Custom CSS. */

/* Color adjustments to match MBot skin. */

.toc .nav__title {
  background: #6f777d;
}

.nav__list .nav__items a:hover {
  color: #00274C;
}

.search__toggle {
  color: #00274C;

  &:hover {
    color: #FFCB05;
  }
}

/* Adding a line under headings. */
h1.line, h2.line, h3.line {
  display: inline-block;
  border-bottom: solid 3px #FFCB05;
  padding: 0 0.75em 0.5em 0;
}

/* Third and fourth subnav level */
nav ul ul ul {
  display: none;  /* Hide submenu by default */
  padding-left: 20px;
  font-size: large;
}

nav ul ul ul ul {
  display: none;  /* Hide subsubmenu by default */
}

/* Hide subsubnavs, even if higher level is open. */
ul li.nav-open ul ul {
  display: none;
}

/* Show subnavs, if open. */
ul li.nav-open ul {
  display: block;
}

/* Show subsubmenus, if open. */
ul li.nav-open ul li.nav-open ul {
  display: block;
}

button.subnav-expand {
  float: right;  /* The button for the sub navigation should be on the right.  */
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

li.nav-open > button.subnav-expand i {
  transform: rotate(180deg);
}

/* Image row */

.image-row {
  display: flex;
  justify-content: space-around;
}

/* Buttons */

.btn.big {
  font-size: large;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 200px;
}
  .btn.big:last-child {
    margin-right: 0;
  }
  .btn.big > i {
    font-size: xx-large;
    padding-top: 0.25em;
  }

.btn.inactive {
  background-color: #6f777d;
  color: #fff;
  pointer-events: none;
}

/* Table selectors */

.table-selector {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.3em;
}

.table-selector > .row {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
}
  .table-selector > .row:last-child {
    margin-bottom: 0;
  }
  .table-selector > .row.hidden {
    display: none;
  }

.label-cell, .option-cell {
  padding: 8px;
  box-sizing: border-box;
}

.label-cell {
  flex: 0 0 200px; /* Fixed width for label cells, adjust as needed */
  font-weight: bold;
  text-align: left;
}

.option-cell {
  flex: 1; /* Distribute remaining space equally */
  cursor: pointer;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
  margin-right: 5px;
  text-align: center;
}
  .option-cell:last-child {
    margin-right: 0;
  }

  .option-cell.selected {
    background-color: #D86018;
    color: #fff;
    font-weight: 500;
  }

/* For the Getting Started selector */

.starting-selector > .row > .label-cell {
  flex: 0 0 75%; /* Fixed width for label cells, adjust as needed */
  /* padding-left: 20px; */
}

span.step-arrow {
  font-size: xx-large;
  color: #646769;
}

#custom-workflow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adds space between the buttons */
}

/* For the firmware selector */

.firmware-selector > .row > .label-cell {
  flex: 0 0 250px; /* Fixed width for label cells, adjust as needed */
  padding-left: 20px;
}

.info-icon {
  margin-left: 5px;
  font-size: 16px;
}
  a.info-icon {
    color: #3d4144;
  }

.message {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}

/* Other displays in this file might override this one. Leave it at the bottom. */
.hidden {
  display: none;
}

/* API Styling */
ul.api {
  list-style: none;
  padding: 0;
}
ul.api li {
  border-top: solid 1px #00274c33;
  padding-top: 1em;
  padding-bottom: 1em;
}
ul.api li > * {
  margin-left: 1em;
}
ul.api li > p {
  margin-bottom: 1em;
}
ul.api li > p:last-child {
  margin-bottom: 0;
}

ul.api li:first-child {
  border-top: 0;
  padding-top: 0;
}
ul.api li:last-child {
  padding-bottom: 0;
}
ul.api li > p.fn {
  color: #00274C;
  font-family: "Courier New", monospace;
  font-weight: 600;
  padding: 0.5em 1em;
  background: #c4ddf578;
  border-radius: 0.375em;
  margin-bottom: 0.5em;
  margin-left: 0;
  font-size: 0.85em;
}

ul.api li > p.sub-head {
  color: #3d4449;
  font-weight: 600;
  background: #f5f6f7;
  font-size: 0.85em;
  padding: 0.25em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

ul.api li > ul.params {
  margin-left: 2em;
}
ul.api li > ul.params li {
  padding: 0;
  border-top: 0;
  margin-bottom: 0;
}
ul.api li > ul.params li > * {
  margin-left: 0;
}
